@media (min-width: 1024px) {
        
    *{
        margin: 0;
        padding: 0;
        font-family: 'open sans';
        color: #F2F2F2;
        scroll-margin-top: 10vh;
        scroll-margin-bottom: -10vh;
    }
    h1, h2, h3, h4, h5{
        font-family: 'roboto mono';
        color: #F2F2F2;
    }
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.8rem;
    }
    h4, h5{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    #des1, #des2, #des3, #des4, #des5, #des6{
        display: none;
    }
    body{
        width: 100%;
    }


    /*NAVBAR*/
    nav{
        width: 100%;
        height: 10vh;
    }
    nav h1{
        text-shadow: 2px 1px 1px #0D0D0D;
    }
    nav h1:hover{
        color: #A6341B;
    }
    .titulo{
        text-decoration: none;
    }
    .titulo:hover{
        text-decoration: none;
    }
    nav a img{
        width: 10vh;
        height: 10vh;
    }
    .nav-item a{
        color: #F2F2F2;
    }
    .nav-item a:hover{
        color: #93B3BF;
        text-decoration: underline #BF3E21;
        text-shadow: 2px 1px 1px #0D0D0D;
    }
    #hotLinkNav{
        display: flex;
    }


    /*HEADER*/
    header{
        padding-top: 10vh;
        width: 100%;
        height: 100vh;
        background-image: url(img/Fondo_Inicio);
        background-size: cover;
    }
    header div{
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        text-shadow: 2px 1px 1px #A6341B;
    }
    header div h2{
        padding-top: 10vh;
        font-size: 1.8rem;
    }
    header div h1{
        font-weight: 600;
        letter-spacing: 3px;
        text-shadow: 2px 1px 1px #0D0D0D;
    }
    header div p{
        font-size: 1.4rem;
        width: 80%;
        padding-top: 1rem;
        margin: auto;
        letter-spacing: 4px;
    }


    /*MAIN*/
    main{
        background-color: #93B3BF;
        width: 100%;
    }


    /*ARTICLE*/
    article{
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
    }
    article h2{
        text-align: center;
        text-shadow: 2px 1px 1px #0D0D0D;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .carousel{
        width: 80%;
        margin: auto;
        background-color: #BF3E21;
        padding: 1rem;
    }
    .carousel-item div{
        display: flex;
        text-align: center;
    }
    .carousel-item div div{
        display: flex;
        flex-direction: column;
    }
    .carousel-item div div p{
        text-align: center;
        width: 80%;
        margin: auto;
        padding-top: 10%;
    }
    .carousel-item a img{
        width: 30vh;
        margin: left;
        margin-left: 20vh;
        height: 60vh;
        box-shadow: 3px 1px 1px 2px #0D0D0D;
    }
    .carousel-item div a{
        text-decoration: none;
        color: #F2F2F2;
        text-shadow: 2px 1px 1px #0D0D0D;
    }
    .carousel-item .btn-primary{
        background-color: #A6341B;
        width: 20%;
        margin: auto;
    }
    


    /*PRODUCTOS*/
    #productos h2{
        text-align: center;
        text-shadow: 2px 1px 1px #0D0D0D;
    }
    .card {
        margin-bottom: 20px;
    }
    
    .card-title {
        font-weight: bold;
    }
    
    .card-text {
        margin-bottom: 10px;
    }
    
    @media (max-width: 768px) {
        .col-md-4 {
        margin-bottom: 20px;
        }
    }
    .card-img-top {
        width: 100%;
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
        background-color: #0D0D0D;
    }
    .card-body{
        min-height: 30vh;
        text-align: center;
    }
    .card-body h5{
        color: #93B3BF;
        text-shadow: #A6341B;
    }
    .card-body button{
        position: absolute;
        bottom: 5%;
        left: 10%;
    }
    .card-body a{
        position: absolute;
        bottom: 5%;
        right: 10%;
    }
    .card-body div p{
        padding-top: 1vh;
        font-size: .8rem;
    }

    /*NOSOTROS*/
    .Nosotros{
        width: 100%;
        height: 100vh;
        background-image: url(img/Fondo.jpg);
        background-size: cover;
        text-align: center;
    }
    .Nosotros div{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .Nosotros div h2{
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 700;
        text-shadow: 2px 1px 1px #0D0D0D;
        padding-top: 2rem;
    }
    .Nosotros div p{
        margin: auto;
        width: 80%;
        font-size: 1.2rem;
        letter-spacing: 2px;
        padding-top: 2rem;
        text-shadow: 2px 1px 1px #0D0D0D;
    }

    /*FOOTER*/
    footer{
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: space-around;
    }
    iframe{
        width: 100%;
        height: 100%;
        max-width: 20vh;
        max-height: 20vh;
        position: relative;
        left: 0;
        bottom: 0;
    }
    .footerLinks{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footerLinks ul{
        list-style: none;
        margin: auto;
    }
    .footerLinks ul li a{
        text-decoration: none;
        color: #F2F2F2;
    }
    .footerLinks ul li a:hover{
        color: #93B3BF;
        text-decoration: underline #BF3E21;
    }
    .social-media{
        text-align: left;
        position: relative;
        right: 4vh;
    }
}
@media (max-width: 1020px) {
*{ 
    color: #F2F2F2;
    text-shadow: 2px 1px 1px #0D0D0D;
    margin: 0;
    padding: 0;
    scroll-margin-top: 20vh;
    scroll-margin-bottom: -20vh;
}
body{
    background-color: #93B3BF;
    text-align: center;
}
nav{
    min-height: 20vh;
    width: 100%;
    display: flex;
}
@media (max-width: 525px){
    .navbar-brand{
        display: none;
    }
}
.navbar-brand img{
    margin: 0;
    padding: 0;
    width: 15vh;
    height: 15vh;
}
.navbar button{
    background-color: #93B3BF;
    box-shadow: 2px 1px 1px #BF3E21;
}
.navbar button:hover{
    background-color: #93B3BF;
    box-shadow: 2px 1px 1px #A6341B;
}
@media (max-width: 346px) {
    #inicio h1{
        font-size: 1.5rem;
    }
    #inicio h2, #inicio p{
        font-size: 1rem;
    }
    
}
.titulo{
    text-decoration: none;
    color: #F2F2F2;
    text-shadow: 2px 1px 1px #0D0D0D;
}
.titulo:hover{
    text-decoration: none;
    color: #93B3BF;
    text-shadow: 2px 1px 1px #BF3E21;
}
.nav-item a{
    color: #F2F2F2;
    text-shadow: 2px 1px 1pxs #0D0D0D;
}
.nav-item{
    display: flex;
}
@media (min-width: 346px) {   
    #inicio{
        padding-top: 20vh;
    }
}
header, #nosotros{
    min-height: 100vh;
    background-image: url(img/Fondo.jpg);
    background-size: cover;
    background-position: center;
}
@media (max-width: 345px) {
    header div{
        padding-top: 25vh;
    }    
}
header div, #nosotros div{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 4rem;
}
header div p{
    width: 90%;
    margin: auto;
    text-align: center;
}
article{
    min-height: 100vh;
    width: 100%;
}
@media (max-width: 426px) {
    .carousel{
        height:750px;
    }    
}
.carousel{
    min-height: 100vh;
    background-color: #A6341B;
}
.carousel-item img{
    margin: auto;
    width: 40%;
    height: 70vh;
}
@media (max-width: 1024px) {
    .carousel-indicators{
        display: none;
    }
}
#productos h2{
    text-align: center;
    text-shadow: 2px 1px 1px #0D0D0D;
}
.card {
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col-md-4 {
    margin-bottom: 20px;
    }
}
.card-img-top {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    background-color: #0D0D0D;
}
.card-body{
    min-height: 30vh;
    text-align: center;
}
.card-body h5{
    color: #93B3BF;
    text-shadow: #A6341B;
}
@media (max-width: 890px) {
    .card{
        min-height: 80vh;
    }
    .card .btn-secondary{
        display: none;
    }
}
    footer div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footerLinks ul{
        list-style: none;
    }
    .footerLinks ul a{
        text-decoration: none;
        color: #93B3BF;
        text-shadow: 1px 1px #0D0D0D;
    }
    .carousel-item div a{
        color: #93B3BF;
        text-shadow: 2px 1px 1px #BF3E21;
        font-size: 1.2rem;
        text-decoration: none;
    }
    .carousel-item .btn{
        color: #ffffff;
        text-shadow: none;
    }
    
}